body {
  background-color: #131425;
}

input[type="file"],
input[type="submit"] {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.fa-comment-style {
  margin-left: 5.5rem;
  cursor: pointer;
}

.fa-face-smile-style {
  color: #34a604;
  margin: 1.5rem 0;
  cursor: pointer;
}

.fa-image-style,
.fa-check-style {
  color: #808080;
  cursor: pointer;
}

.fa-check-holder {
  margin: auto;
  margin-top: 1.5rem;
  max-width: 10rem;
}

.fa-image-style {
  position: relative;
  top: 40%;
  margin: auto;
}

.fa-follow-star-style {
  color: #808080;
  border: 2px solid #808080;
  border-radius: 50%;
  margin: 0.5rem 2.5rem;
  padding: 0.75rem;
  transition: 0.25s;
}

.fa-follow-star-style:hover {
  cursor: pointer;
  color: gold;
  border: 2px solid gold;
}

.fa-check-style {
  color: #808080;
  border: 2px solid #808080;
  border-radius: 50%;
  padding: 0.75rem;
  transition: 0.25s;
}

.fa-check-style:hover {
  color: #34a604;
  border: 2px solid #34a604;
}

.fa-house-style {
  color: #808080;
  margin: 1.5rem 2rem;
  cursor: pointer;
}

.fa-users-style {
  color: #808080;
  margin: 1.5rem 2rem;
  cursor: pointer;
}

.log-in-nav {
  font-size: 1.5rem;
  color: #808080;
  border: 2px solid #808080;
  border-radius: 8px;
  padding: 0.75rem;
  transition: 0.25s;
  margin-left: 3rem;
  white-space: nowrap;
  text-decoration: none;
}

.log-in-nav:hover {
  color: #d7c9b4;
  border: 2px solid #d7c9b4;
  cursor: pointer;
}

.left-align {
  text-align: left;
}

.new-user-name-style {
  background-color: #131425;
  padding: 1rem 3rem;
  padding-left: 0.5rem;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 1rem;
  max-width: 16rem;
  border: 2px solid #808080;
  color: #808080;
  font-size: 16px;
}

.image-upload-holder {
  background-color: #2a2d41;
  padding: 0;
  margin: 0 auto;
  border-radius: 8px;
  width: 16rem;
  height: 20rem;
  justify-content: center;
}

.image-upload-holder img {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  height: 100%;
  border-radius: 8px;
}

.view-profile-name {
  color: #808080;
  font-size: 2.5rem;
  font-weight: 100;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 30rem;
  text-decoration: none;
  word-break: break-word;
}

.log-in-header {
  margin: 2rem 0;
}

.fa-star-holder {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  color: #626262;
}

.fa-star-style {
  margin: 0 0.25rem;
}

.star-div {
  color: #626262;
  position: relative;
}

.netural {
  color: #626262;
}

.happy {
  color: #34a604;
}

.content {
  color: #d7c9b4;
}

.angry {
  color: red;
}

.half-star {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.chevron-style {
  position: relative;
  top: 12.5rem;
  color: #615c5e;
  padding: auto;
  font-size: 3rem;
  cursor: pointer;
}

.none-focus-cards {
  position: relative;
  top: 4.5em;
  filter: opacity(25%);
}

.left {
  position: relative;
  left: 2.25rem;
}

.right {
  position: relative;
  right: 2.25rem;
}

.user-rating-style {
  color: #808080;
  font-size: 0.75rem;
  font-weight: 100;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  text-align: start;
}

.user-rating-text-style {
  margin: 0;
  text-align: center;
}

.user-rating-text-style h1 {
  margin: 0;
}

.rating-stars {
  cursor: pointer;
}

.rating-buttons-x-style:hover {
  color: red;
  border: 2px solid red;
}

.comment-style {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.comment-input-style {
  height: 100%;
  width: 100%;
  padding: 4%;
  border: none;
  border-radius: 8px;
  background-color: #d9d9d9;
}

.comment-card-holder {
  background-color: #d9d9d9;
  padding: 1rem 1.25rem;
  overflow: auto;
  overflow-x: hidden;
}

.comment-image-holder {
  object-fit: fill;
  display: flex;
  margin-bottom: 1rem;
}

.comment-image-holder > img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid #353650;
}

.comment-text-style {
  color: #707981;
  padding-top: 0.25rem;
  margin-left: 0.5rem;
}

.sidebar-background {
  position: absolute;
  background-color: gray;
  width: 100%;
  height: 100vh;
  opacity: 0.3;
  left: 0;
  top: 0;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 17rem;
  height: 100vh;
  background-color: #626262;
  border-left: solid 0.5rem #aaa6a4;
  border-radius: 8px;
}

.close-sidebar {
  margin: 2rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.log-out-icon-holder {
  text-align: right;
  position: absolute;
  right: 0;
  margin: 2rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.remove-style {
  text-decoration: none;
  color: black;
}

.following {
  color: gold;
}

@media screen and (max-width: 768px) {
  .none-focus-cards {
    display: none;
  }

  .left {
    position: relative;
    left: 1rem;
  }

  .right {
    position: relative;
    right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 30rem;
  }
}
