body {
  background-color: #131425;
}

input[type="file"],
input[type="submit"] {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.fa-face-smile-style {
  color: #34a604;
  margin: 1.5rem 0;
  cursor: pointer;
}

.fa-image-style,
.fa-check-style {
  color: #808080;
  cursor: pointer;
}

.fa-check-holder {
  margin: auto;
  margin-top: 1.5rem;
  max-width: 10rem;
}

.fa-image-style {
  position: relative;
  top: 40%;
  margin: auto;
}

.fa-check-style {
  color: #808080;
  border: 2px solid #808080;
  border-radius: 50%;
  padding: 0.75rem;
  transition: 0.25s;
}

.fa-check-style:hover {
  color: #34a604;
  border: 2px solid #34a604;
}

.fa-house-style {
  color: #808080;
  margin: 1.5rem 2rem;
  cursor: pointer;
}

.left-align {
  text-align: left;
}

.new-user-name-style {
  background-color: #131425;
  padding: 1rem 3rem;
  padding-left: 0.5rem;
  border-radius: 4px;
  margin: auto;
  width: 16rem;
  border: 2px solid #808080;
  color: #808080;
  font-size: 16px;
}

.image-upload-holder {
  background-color: #2a2d41;
  padding: 0;
  margin: auto;
  margin-top: 1rem;
  border-radius: 8px;
  width: 16rem;
  height: 20rem;
}

.image-upload-holder img {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  height: 100%;
  border-radius: 8px;
}

.view-profile-name {
  color: #808080;
  font-size: 3.25rem;
  font-weight: 100;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  width: 30rem;
  word-break: break-word;
}

.fa-star-holder {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  color: #626262;
}

.fa-star-style {
  margin: 0 0.25rem;
}

.star-div {
  color: #626262;
  position: relative;
}

.happy {
  color: #34a604;
}

.content {
  color: #d7c9b4;
}

.angry {
  color: red;
}

.half-star {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.chevron-style {
  color: #615c5e;
  margin: auto;
  padding: auto;
  font-size: 3rem;
  cursor: pointer;
}

.none-focus-cards {
  filter: opacity(25%);
  margin-top: 6rem;
}

.left {
  position: relative;
  left: 6rem;
}

.right {
  position: relative;
  right: 6rem;
}

.user-rating-style {
  color: #808080;
  font-size: 1rem;
  font-weight: 100;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  text-align: start;
}

.user-rating-style h1 {
  margin: 0;
  text-align: center;
  padding-right: 10rem;
}

@media screen and (max-width: 768px) {
  .none-focus-cards {
    filter: opacity(25%);
    margin-top: 3rem;
    display: none;
  }
}
