body {
  background-color: #131425;
}

input[type="file"],
input[type="submit"] {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.fa-face-smile-style {
  color: #34a604;
  margin: 2rem 0;
}

.fa-image-style,
.fa-check-style {
  color: #808080;
  cursor: pointer;
}

.fa-check-holder {
  margin: auto;
  margin-top: 1.5rem;
  max-width: 10rem;
}

.fa-image-style {
  position: relative;
  top: 40%;
  margin: auto;
}

.fa-check-style {
  color: #808080;
  border: 2px solid #808080;
  border-radius: 50%;
  padding: 0.75rem;
  transition: 0.25s;
}

.fa-check-style:hover {
  color: #34a604;
  border: 2px solid #34a604;
}

.new-user-name-style {
  background-color: #131425;
  padding: 1rem 3rem;
  padding-left: 0.5rem;
  border-radius: 4px;
  margin: auto;
  width: 16rem;
  border: 2px solid #808080;
  color: #808080;
  font-size: 16px;
}

.image-upload-holder {
  background-color: #2a2d41;
  padding: 0;
  margin: auto;
  margin-top: 2rem;
  border-radius: 8px;
  width: 16rem;
  height: 20rem;
}

.image-upload-holder img {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
}
